
    <div class="container">
      <div class="row">
      <center><img style="height:150px;" src="http://mikrometoxos.gr/wp-content/uploads/2015/03/NBG_logos_GR_color.jpg">
      <h2>Success! You are authenticated now!</h2>
      <img style="width:100px;" src="https://openclipart.org/image/2400px/svg_to_png/200606/primary-ok.png">
      <button onclick="window.location = 'https://m.me/156947924704350' ">Continue to Messenger</button>
      </center>
      </div>
    </div> <!-- /container -->


