
    <div class="container">
      <div class="row">
      <center><img style="height:150px;" src="http://mikrometoxos.gr/wp-content/uploads/2015/03/NBG_logos_GR_color.jpg">
      <h2>Success! You are authenticated now!</h2>
      <img src="http://lewamack.com/Facebook/Pics/Correct-Right_ee_O-A_ok/Correct-Ok_check_yes_tick_accept_success_green_correct.png">
      </center>
      </div>
    </div> <!-- /container -->



